<h1>List Paiements</h1>
<table border='1' class="table">
  <tr class="tr">
    <td class="td number">Paiement N</td>
    <td class="td number">Facture N</td>
    <td class="td number">Customer Name</td>
    <td class="td number">Méthode</td>
    <td class="td number">Card Number</td>
    <td class="td number">Expiration Date</td>
    <td class="td number">CVV</td>
    <td class="td number">Etat</td>
    <td class="td number">Date Paiement</td>
    <td class="td btn"></td>
    <td class="td btn"></td>
  </tr>
  <tr *ngFor="let paiement of listPaiements; let ind= index"  class="tr">

    <td class="td number">{{paiement.paiementId}}</td>
    <td class="td number">{{paiement.factureId}}</td>
    <td class="td number">{{paiement.clientName}}</td>
    <td class="td number">{{paiement.methodePaiement}}</td>
    <td class="td number">{{paiement.cardNumber}}</td>
    <td class="td number">{{paiement.expirationDate}}</td>
    <td class="td number">{{paiement.cvv}}</td>
    <td class="td number">{{paiement.etatPaiement}}</td>
    <td class="td number">{{paiement.datePaiement}}</td>
    <td class="td btn"></td>
    <td class="td btn"></td>

    <!--<td class="td btn"><a (click)="edit (facture)" style="color: rgb(7, 9, 76)">Edit</a></td>
    <td class="td btn"><a (click)="ChangeStatus (facture)" style="color: rgb(7, 9, 76)">Done</a></td>
    <td class="td btn"><a (click)="delete (facture._id)" style="color: rgb(51, 7, 7) ">Delete</a> </td>
    -->
  </tr>
</table>
