<div class="container">
  <h1>Liste des emplacements</h1>
  <a routerLink="/emplacement/add" class="btn btn-primary mb-3">Ajouter</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom de l'emplacement</th>
        <th scope="col">Adresse</th>
        <th scope="col">Gouvernorat</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emplacements; let ind = index">
        <td>{{ind+1}}</td>
        <td>{{e.nomEmplacement}}</td>
        <td>{{e.adresseEmplacement}}</td>
        <td>{{e.gouvernorat}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEmplacement(e.emplacementId)">Supprimer</button>
        </td>
        <td>
          <a routerLink="/emplacement/edit/{{e.emplacementId}}" class="btn btn-warning">Modifier</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
