<h1>List Departements</h1>
<table border='1' class="table">
  <tr class="tr">
    <td class="td number">Id</td>
    <td class="td number">Departement</td>
    <td class="td btn"></td>
    <td class="td btn"></td>
  </tr>
  <tr *ngFor="let dp of listDepartement; let ind= index"  class="tr">

    <td class="td number">{{dp.departmentId}}</td>
    <td class="td number"><input type="text" class="disabled" id="{{dp.departmentId}}"  [id]="dp.departmentId" name="departmentName" [value]="dp.departmentName" disabled></td>

    <td class="td btn"><button (click)="editName(dp.departmentId)">Modifier</button></td>
    <td class="td btn"><button (click)="deletedep(dp.departmentId)">Supprimer</button></td>
    <!--<td class="td btn"><a (click)="edit (facture)" style="color: rgb(7, 9, 76)">Edit</a></td>
    <td class="td btn"><a (click)="ChangeStatus (facture)" style="color: rgb(7, 9, 76)">Done</a></td>
    <td class="td btn"><a (click)="delete (facture._id)" style="color: rgb(51, 7, 7) ">Delete</a> </td>
    -->
  </tr>
  <tr>
    

    <td class="td number"><input type="hidden" name="departmentId" [(ngModel)]="dp.departmentId"></td>
    <td class="td number"><input type="text" name="departmentName" [(ngModel)]="dp.departmentName"></td>

    <td class="td btn"><button (click)="submitNewDp()">Ajouter</button></td>
    <td class="td btn"></td>
  </tr>
</table>
