<div class="header_container">
  <div style="display:inline-block">E-Spare</div>
  <div class="left_side">
    <!-- <input type="text" class="search_box"> -->
    <input type="text" name="searchbox" id="search_txt" autocomplete="off">
    <button class="search_btn" (click)="supportClient()">
      <fa-icon [icon]=searchIcon style="padding-right:15px;"></fa-icon>
    </button>
    <div class="help_txt">Contact</div>

    <div class="help_txt">About Us</div>

    <div class="help_txt">
        <button *ngIf="!isLoggedIn()" type="button" class="btn " routerLink="/login">Login</button>
    </div>
    <div class="help_txt">
      <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
  </div>

    <div class="settings_icon"><fa-icon [icon]=settingsIcon></fa-icon></div>
  </div>
</div>
